{{ define "main" }}
  {{ partial "header.html" . }}
  <div class="flex flex-row justify-between pt-8">
    <!-- Main Content-->
    <div class="flex flex-col w-full gap-8">
      <div class="flex flex-row gap-4">
        <h1 class="text-3xl max-sm:text-2xl font-bold">{{ .Title }}</h1>
      </div>
      <hr />
      {{ partial "markdown.html" . }}
    </div>
  </div>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "{{ .Site.Params.mainAuthor }}",
    "url": "{{ .Permalink }}",
    "image": "{{ .Site.Params.avatarUrl }}",
    "sameAs": [
      {{ range $index, $element := .Site.Params.social }}{{ if $index }}, {{ end }}"{{ .url }}"{{ end }}
    ]
  }
  </script>

  {{ partial "footer_regular.html" . }}
{{ end }}
