{{ define "main" }}
  {{ partial "header.html" . }}
  
  <div class="flex flex-col pt-8 gap-10">
    <!-- Main Content-->
    <div class="flex flex-col w-full gap-4">
      <h2 class="text-3xl max-sm:text-2xl font-bold">{{ .Title }}</h2>
      <!-- Blog Post Metadata -->
      <div class="flex flex-row flex-wrap max-md:gap-4 gap-10">
        <p>📅 {{ .Date.Format "Monday, Jan 2, 2006" }}</p>
        <p>📖 Reading time: {{ .ReadingTime }} min</p>
      </div>
      <!-- Authors -->
      <div class="flex flex-row gap-2 flex-nowrap">
        {{ partial "authors.html" . }}
      </div>
      <!-- Tags -->
      <div class="flex flex-row gap-2 flex-nowrap">
        {{ partial "tags.html" . }}
      </div>
      <hr />
      <div class="flex flex-col gap-10">
        <div class="prose prose-invert max-w-full">
          {{ .Content }}
          <hr />
        </div>
        <div>
          {{ partial "comments.html" . }}
        </div>
      </div>
    </div>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ .Title }}",
      {{ if .Params.image }}"image": "{{ .Params.image | absURL }}",{{ end }}
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.mainAuthor }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ .Site.Params.avatarUrl }}"
        }
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      }
    }
    </script>

    {{ partial "footer_regular.html" .}}
  </div>
  
{{ end }}

